<div class="container">

    <div class="box_login">

        <mat-form-field>
            <mat-label>Digite seu email</mat-label>
            <input matInput name="email" [(ngModel)]="email" value="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Digite sua senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        @if(auth.error && messageVisible){
            <span class="message-error">Senha incorreta</span>
        }
        <button mat-raised-button color="primary" (click)="validationLogin(this.email, this.password)">Acessar</button>

        @if(auth.error && messageVisible){
            <app-message-error-validation text="Mensagem de erro" [timeToDisplay]="5000"></app-message-error-validation>
        }

    </div>

    @if(auth.user){
    Logado como {{auth.user.email}}
    <button (click)="auth.emailSignIn">Sair</button>
    }

</div>