/* You can add global styles to this file, and also import other style files */
@import './assets/styles/_global.less';



html,
body {
    height: 100%;
}



body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.window_message {
    &.mat-mdc-snack-bar-container {
        &.warning {
            .mdc-snackbar__surface {
                background-color: @color-red;
            }

            .mdc-snackbar__label {
                color: black;
            }
        }

    }


}

.message-error {
    color: @color-red;
    margin-top: 10px;


}

.register-item {
    .mat-mdc-form-field-error-wrapper {
        position: unset !important;
        margin-top: -15px;
        margin-bottom: 10px;
    }
}