/* You can add global styles to this file, and also import other style files */
@import './assets/styles/_global.less';



html,
body {
    height: 100%;
}



body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

// Styles for the default Snackbar class.

.default-class {
    .generate-snackbar(@color-red-lighter,@color-danger);
}


// Styles for the primary Snackbar class.
.primary {
    .generate-snackbar(@color-blue3, @color-white);
}

// Styles for the success Snackbar class.
.success {
    .generate-snackbar(@color-green-lighter, @color-green);
}

// Styles for the success Snackbar class.
.warning  {
    .generate-snackbar(@color-warning-lighter, @color-warning);
}

// Styles for the danger Snackbar class.
.danger {
    .generate-snackbar(@color-red-lighter,@color-danger);
}
// Styles for the info Snackbar class.
.info {
    .generate-snackbar(@color-info-lighter, @color-info);
}

.message-error {
    color: @color-red;
    margin-top: 10px;


}

.register-item {
    .mat-mdc-form-field-error-wrapper {
        position: unset !important;
        margin-top: -15px;
        margin-bottom: 10px;
    }
}